<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home is where the html is</title>
</head>
<body>

    <h1>Home is where the html is</h1>
    <button onclick = "window.location.href='http://localhost:8080/'">Home (here)</button>
    <button onclick = "window.location.href='http://localhost:8080/about'">About</button>
    <button onclick = "window.location.href='http://localhost:8080/contact'">Contact Me</button>
    <button onclick = "window.location.href='http://localhost:8080/404'">Surprise</button>
</body>
</html>